h1 {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
span {
  color: orange;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
}
.half-width img {
  width: 100%;
}
